body {
	line-height: 1.6;
	font-size: 0.875em;
}
.col-2,
.col-3 {
	background-color: #f6f6f6;
	padding: 3%;
}
.col-10 {
	border: 1px solid #a7d7f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	border-bottom: 1px solid #a2a9b1;
}
.menu li,
.col-3 li {
	list-style-type: none;
}
.body .poster {
	text-align: end;
	height: 402px;
	width: 263px;
	padding-top: 5px;
}
.col-3,
.thumbinner {
	border: 1px solid #a2a9b1;
}
.center {
	display: flex;
	justify-content: center;
}
.posterStrong {
	font-size: 80%;
}
.thumbinner {
	width: 182px;
	line-height: 1.4em;
	font-size: 94%;
	height: 202px;
	margin: 20px;
}
.game {
	border-bottom: 0px;
}
p .game {
	margin: 20px;
}
